// variables

$font-color-1: #666;
$font-color-2: #009;
$font-color-3: #006;

$color-1: #eee;
$color-2: #aaa;

$retina: 1.5;
$tablet: 600px;
$desktop: 1025px;


// mixins

@mixin retina-inline-asset($name, $ext: 'png') {
    $image: 'images/' + $name + '.' + $ext;
    $image-retina: 'images/' + $name + '@2x.' + $ext;

    display: block;
    background-repeat: no-repeat;
    width: image-width($image);
    height: image-height($image);
    @include background-size(image-width($image) image-height($image));

    @if $assets-retina {
        background-image: inline-image($image-retina);
    } @else {
        background-image: inline-image($image);
    }
}

@mixin retina-asset($name, $ext: 'png') {
    $image: 'images/' + $name + '.' + $ext;
    $image-retina: 'images/' + $name + '@2x.' + $ext;

    display: block;
    background-repeat: no-repeat;
    width: image-width($image);
    height: image-height($image);
    @include background-size(image-width($image) image-height($image));
    background-image: image-url($image);

    @include breakpoint($retina) {
        background-image: image-url($image-retina);
    }
}
