/* browser is compatible */
.incompatibleBrowser {
    display: none;
}

/* runtime error - modernizr.js fails (show incompatible browser page) */
.no-js .incompatibleBrowser {
    display: block;
}

/* incompatible browser detected (show incompatible browser page) */
.incompatible .incompatibleBrowser {
    display: block;
}

/* incompatible browser page style */
.incompatibleBrowser {
    position: relative;
    width: 100%;
    text-align: center;
}
