<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Project Title</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="shortcut icon" href="favicon.ico?ver=1">

    <!-- set default share info -->
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">

    <!-- build:vendorCss -->
    <!-- endbuild -->
    <link rel="stylesheet" href="css/style.css">

    <script src="scripts/lib-header.js"></script>
    <script src="scripts/header.js"></script>
</head>

<body>
    <!-- begin: incompatible browser page -->
    <div class="incompatible-browser">Incompatible browser</div>
    <!-- end: incompatible browser page -->
    <!-- begin: loader -->
    <div class="loader"></div>
    <!-- end: iloader -->
    <!-- begin: main app -->
    <div class="container ng-cloak" ng-controller="RootCtrl">
        <header ng-include=" 'tpls/partials/header.html' "></header>
        <div class="main view-change-animate" ui-view></div>
        <footer ng-include=" 'tpls/partials/footer.html' "></footer>
    </div><% if (pixijs) { %>
    <canvas id="canvas-elem"></canvas><% } %>
    <!-- end: main app -->
    <script src="scripts/lib.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>
