<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Project Title</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="shortcut icon" href="favicon.ico?ver=1.0.0">

    <!-- set default share info -->
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="css/vendor/vendor.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="scripts/modernizr.js"></script>
</head>

<body>
    <!-- begin: incompatible browser page -->
    <div class="incompatible-browser">Incompatible browser</div>
    <!-- end: incompatible browser page -->
    <!-- begin: loader -->
    <div class="loader"></div>
    <!-- end: loader -->
    <!-- begin: main app -->
    <header class="ng-cloak" ng-include=" 'tpls/partials/header.html' "></header>
    <div class="main view-change-animate ng-cloak" ui-view></div>
    <footer class="ng-cloak" ng-include=" 'tpls/partials/footer.html' "></footer><% if (pixijs) { %>
    <canvas id="canvas-elem" class="canvas-elem ng-cloak"></canvas><% } %>
    <!-- end: main app -->
    <script src="scripts/main.js"></script>
</body>
</html>
